* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans';
  color: white;
  height: 100vh;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Setting up the page */
aside.controls {
  width: 300px;
  height: calc(auto - 60px);
  background-color: black;
  padding: 40px 40px 80px 40px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

aside.controls:hover {
  overflow: overlay;
}

::-webkit-scrollbar {
  background-color: #343434;
  width: 8px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.32);
  height: 5vh;
}

div.output {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 24px 0;
}

/* UI control */
hr {
  border-color: #343434;
  margin: 40px 0;
}

label {
  font-size: 16px;
  font-weight: 400;
}

label.bold_label {
  font-size: 18px;
  font-weight: 600;
}

div.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 24px 0;
}

div.interface_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 12px 0;
}

div.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=submit].layout {
  -webkit-appearance: none;
  position: static;
  width: auto;
  height: auto;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #343434;
  color: white;
}

input[type=submit].layout:hover {
  background-color: #FF6388;
  color: black;
}

input[type=submit].layout:first-child {
  margin: 0 8px 0 0;
  background-color: white;
  color: black;
}

input[type=submit].layout:first-child:hover {
  background-color: #3D96FF;
  color: white;
}

span.value {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #343434;
}

/* Typography Controls */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: #343434;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background: #D8FF3D;
}

input[type=range]:focus,
input[type=color]:focus,
input[type=number]:focus {
  outline: none;
  cursor: pointer;
}

input[type=color],
input[type=number] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 22px;
  border-radius: 4px;
  background: #343434;
}

input[type=color] {
  margin: 0 0 0 8px;
}

input[type=number] {
  color: white;
  width: 35px;
  height: 24px;
  padding: 0 0 0 4px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 16px;
  background-color: #343434;
  background-image: url("assets/chevron.svg");
  background-repeat: no-repeat;
  background-position: center right 8px;
}

select:focus {
  outline: none;
}

.typeface {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
  grid-gap: 8px;
}

/* Canvas Controls */
.interface_name.canvas {
  margin: 0 0 24px 0;
}

input[type=number] {
  width: 45px;
}

.x {
  margin: 0 8px;
}

/* Export Button */
input[type=submit] {
  -webkit-appearance: none;
  border: none;
  background-color: #D8FF3D;
  width: 100%;
  padding: 18px;
  height: 60px;
  width: 300px;
  bottom: 0;
  left: 0;
  position: fixed;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: background-color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1);
  transition: background-color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1);
}

input[type=submit]:hover {
  background-color: #B4D923;
  cursor: pointer;
}

input[type=submit]:focus {
  outline: none;
}

/* Poster styling */
div.poster {
  width: 600px;
  height: 90vh;
  padding: 18px;
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

textarea {
  height: 100%;
  width: 100%;
  resize: none;
  padding: 4px 6px;
  border: 1px solid #3D96FF;
  overflow: hidden;
}

textarea:hover {
  overflow-y: overlay;
}

textarea:focus {
  outline-color: #D8FF3D;
}

textarea.header {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-size: 72px;
  line-height: 110%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  grid-column: 1/-1;
}

textarea.body {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

textarea::-webkit-input-placeholder {
  color: black;
}

textarea:-ms-input-placeholder {
  color: black;
}

textarea::-ms-input-placeholder {
  color: black;
}

textarea::placeholder {
  color: black;
}
/*# sourceMappingURL=style.css.map */